@{
    ViewBag.Title = "Home Page";
}
    <body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
        <div id="site-loader" class="load-complete" style="display: none;">
            <div class="loader">
                <div class="loader-inner ball-clip-rotate">
                    <div></div>
                </div>
            </div>
        </div>
        <main class="site-main page-spacing">

            <!-- Photo Slider -->
            <div class="photo-slider container-fluid no-padding">
                <!-- Main Carousel -->
                <div id="main-carousel" class="carousel slide carousel-fade col-offset-2" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="slider-image">
                                <img src="images/slider/slider-1.jpg" alt="slider-1">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <h5>Добро пожаловать!</h5>
                                        <h3>Мы любим рыбалку, ведь это всегда<span>дорога к отличному отдыху</span></h3>
                                       
                                        <a href="#" title="Learn More" class="btn btn-default">Подробнее</a>
                                        <a href="#" title="Contact Us" class="btn btn-default bg">Связаться с нами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="slider-image">
                                <img src="images/slider/slider-2.jpg" alt="slider-2">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <h5>Добро пожаловать!</h5>
                                        <h3>Путь к сердцу рыбака <span>лежит через его наживку</span></h3>
                                        <a href="#" title="Learn More" class="btn btn-default">Подробнее</a>
                                        <a href="#" title="Contact Us" class="btn btn-default bg">Связаться с нами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-image">
                                <img src="images/slider/slider-3.jpg" alt="slider-3">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <h5>Добро пожаловать!</h5>
                                        <h3>Не бывает рыбы больше<span>чем та, которая сорвалась</span></h3>
                                        <a href="#" title="Learn More" class="btn btn-default">Подробнее</a>
                                        <a href="#" title="Contact Us" class="btn btn-default bg">Связаться с нами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- Main Carousel /-  -->
            </div><!-- Photo Slider /- -->
            <!-- Why Choose Us -->
            <div class="intro-section tr-border container-fluid no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="intro-content">
                                <i class="animated rotateIn"><img src="images/intro/choose-1.jpg" alt="choose-1"></i>
                                <h3>Fishing Equipments</h3>
                                <p>Straightnin' the curves. Flatnin' the hills Someday the mountain might get 'em but the law never Got kind of tired packin unpackin</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="intro-content">
                                <i class="animated rotateIn"><img src="images/intro/choose-2.jpg" alt="choose-2"></i>
                                <h3>Fishing competition</h3>
                                <p>Straightnin' the curves. Flatnin' the hills Someday the mountain might get 'em but the law never Got kind of tired packin unpackin</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="intro-content">
                                <i class="animated rotateIn"><img src="images/intro/choose-3.jpg" alt="choose-3"></i>
                                <h3>Fishing tools</h3>
                                <p>Straightnin' the curves. Flatnin' the hills Someday the mountain might get 'em but the law never Got kind of tired packin unpackin</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div><!-- Container /- -->
                <div class="section-padding"></div>
            </div><!-- Why Choose Us /- -->
            <!-- Choose Accessories -->
            <div id="accessories-section" class="accessories-section container-fluid no-padding">
                <div class="section-padding"></div>
                <div class="accessories-img-box col-md-6">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="wheels">
                            <div class="accessories-img img1"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="lure">
                            <div class="accessories-img img2"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="lines">
                            <div class="accessories-img img3"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rods">
                            <div class="accessories-img img4"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="bags">
                            <div class="accessories-img img5"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wheels1">
                            <div class="accessories-img img1"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 accessories-tab-box">
                    <!-- Section Header -->
                    <div class="section-header">
                        <h3>У нас вы можете найти</h3>
                      
                    </div><!-- Section Header /-  -->
                    <!-- Nav tabs -->
                    <div class="nav nav-tabs owl-carousel owl-theme owl-loaded" role="tablist">






                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 674.4px;">
                                <div class="owl-item active" style="width: 82.4px; margin-right: 30px;">
                                    <a href="#wheels" aria-controls="wheels" role="tab" data-toggle="tab" class="active">
                                        <i><img src="images/accessories/accessories-ic1.png" alt="Accessories Icon"></i>
                                        <span>Магазины</span>
                                    </a>
                                </div><div class="owl-item active" style="width: 82.4px; margin-right: 30px;">
                                    <a href="#lure" aria-controls="lure" role="tab" data-toggle="tab">
                                        <i><img src="images/accessories/accessories-ic2.png" alt="Accessories Icon"></i>
                                        <span>Рыбные места</span>
                                    </a>
                                </div><div class="owl-item active" style="width: 82.4px; margin-right: 30px;">
                                    <a href="#lines" aria-controls="lines" role="tab" data-toggle="tab">
                                        <i><img src="images/accessories/accessories-ic3.png" alt="Accessories Icon"></i>
                                        <span>Купить наживку</span>
                                    </a>
                                </div><div class="owl-item active" style="width: 82.4px; margin-right: 30px;">
                                    <a href="#rods" aria-controls="rods" role="tab" data-toggle="tab">
                                        <i><img src="images/accessories/accessories-ic4.png" alt="Accessories Icon"></i>
                                        <span>Барахолка</span>
                                    </a>
                                </div><div class="owl-item active" style="width: 82.4px; margin-right: 30px;">
                                    <a href="#bags" aria-controls="bags" role="tab" data-toggle="tab">
                                        <i><img src="images/accessories/accessories-ic5.png" alt="Accessories Icon"></i>
                                        <span>Форум</span>
                                    </a>
                                </div><div class="owl-item" style="width: 82.4px; margin-right: 30px;">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-padding"></div>
            </div><!-- Choose Accessories /- -->
           
          
            <!-- Gear Section -->
            <div id="gear-section" class="container-fluid no-padding gear-section">
                <div class="section-padding"></div>
                <!-- Container -->
                <div class="container">
                    <!-- Section Header -->
                    <div class="section-header">
                        <h3>Рыболовные снасти, которые вам нужны</h3>
                       
                    </div><!-- Section Header /-  -->
                    <div class="gear-carousel owl-carousel owl-theme owl-loaded" style="padding-bottom :100px">




                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0s ease 0s; width: 4000px;">
                                <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear2.jpg" alt="Gear">
                                            <span>Fishing reel</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear3.jpg" alt="Gear">
                                            <span>Fishing lure</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear1.jpg" alt="Gear">
                                            <span>Fishing Rod</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear1.jpg" alt="Gear">
                                            <span>Fishing Rod</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear2.jpg" alt="Gear">
                                            <span>Fishing reel</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear3.jpg" alt="Gear">
                                            <span>Fishing lure</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear1.jpg" alt="Gear">
                                            <span>Fishing Rod</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear1.jpg" alt="Gear">
                                            <span>Fishing Rod</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear2.jpg" alt="Gear">
                                            <span>Fishing reel</span>
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
                                    <div class="gear-box">
                                        <a href="#" title="">
                                            <img src="images/gear/gear3.jpg" alt="Gear">
                                            <span>Fishing lure</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div><div class="owl-dots" style="display: none;"></div></div>
                    </div>
                </div><!-- Container /- -->
                <div class="white-seprator"></div>
            </div><!-- Gear Section /- -->
            <!-- Team Section -->
        
            <!-- Product Section -->
         
            <!-- Testimonial Section -->
      

        </main>

        <!-- Footer Main -->
        <footer class="footer-main container-fluid no-padding">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <!-- Footer Location Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <aside class="ftr-widget location-widget">
                            <h3 class="widget-title"><i><img src="images/ftr-location.png" alt="Location"></i><span>Address</span></h3>
                            <p>09 Design Street, Downtown, Bovile, Victoria, Australia</p>
                        </aside>
                    </div><!-- Footer Location Widget /- -->
                    <!-- Footer Phone Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <aside class="ftr-widget phone-widget">
                            <h3 class="widget-title"><i><img src="images/ftr-phone.png" alt="Location"></i><span>Call Us</span></h3>
                            <p>
                                <a href="tel:+9112345678" title="+9112345678">Mobile : +91 123 456 78</a>
                                <a href="tel:+9112345688" title="+9112345688">Toll free : +91 123 456 88</a>
                            </p>
                        </aside>
                    </div><!-- Footer Phone Widget /- -->
                    <!-- Footer Mail Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <aside class="ftr-widget mail-widget">
                            <h3 class="widget-title"><i><img src="images/ftr-email.png" alt="Location"></i><span>email us</span></h3>
                            <p>
                                <a href="mailto:info@ourdomain.com" title="Info@OurDomain.Com">Info@OurDomain.Com</a>
                                <a href="mailto:support@ourdomain.com" title="Support@OurDomain.Com">Support@OurDomain.Com</a>
                            </p>
                        </aside>
                    </div><!-- Footer Mail Widget /- -->
                    <!-- Footer Hours Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <aside class="ftr-widget hours-widget">
                            <h3 class="widget-title"><i><img src="images/ftr-hours.png" alt="Location"></i><span>working hours</span></h3>
                            <p><span>Mon-Sat : 9:00 AM To 5:00 PM</span><span>Sun : 9:00 AM To 2:00 PM</span></p>
                        </aside>
                    </div><!-- Footer Hours Widget /- -->
                </div>
                <!-- Footer About Widget -->
                <aside class="col-md-8 col-sm-6 col-xs-12 ftr-widget about-widget">
                    <h3 class="widget-title">we are fishing</h3>
                    <p>Beats all you've ever saw been in trouble with the law since the day they was born. Believe it or not I'm walking on air. I never thought I could feel so free.</p>
                </aside><!-- Footer About Widget /- -->
                <!-- Footer Newsleater Widget -->
                <aside class="col-md-4 col-sm-6 col-xs-12 ftr-widget newsleater-widget">
                    <h3 class="widget-title">subscribe newsletter</h3>
                    <!-- Search Box -->
                    <div class="search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" title="Go">Go</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- Search Box /- -->
                </aside><!-- Footer Newsleater Widget /- -->
                <!-- Footer Bottom -->
                <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-6 copyright">
                            <p>© Copyright 2016. All Rights Reserved</p>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <ul>
                                <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Linked In"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Footer Bottom /- -->
            </div><!-- Container /- -->
        </footer><!-- Footer Main /- -->
    </body>